# API Base URL
NUXT_PUBLIC_API_BASE=http://127.0.0.1:3200/blog

# Security settings
NUXT_SECURITY_X_FRAME_OPTIONS=DENY
NUXT_SECURITY_CONTENT_SECURITY_POLICY="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; font-src 'self' https:;"
