/* 主题 */
html {
    --z-primary-color: 94, 114, 228;
    --z-primary-select-color: 61, 85, 223;
    --z-gray-color: 231, 234, 237;
    --z-deep-color: 18, 20, 22;
    --z-fontcolor: 51, 51, 51;
    --z-fontcolor-gray: 153, 164, 178;
    --z-primary-fontcolor: 255, 255, 255;
    --z-basic-input-color: 233, 237, 242;
    --z-basic-color: 255, 255, 255;
    --z-global-bg: 242, 243, 246;
    --z-common-bg: 247, 248, 249;
    --z-select-bg: 231, 235, 240;
    --z-header-height: 65px;
    --z-menu-shadow: 0 1px 7px 0 rgba(39, 39, 39, .04);
;
}

[data-theme="dark"] {
    --z-primary-color: 67, 75, 77;
    --z-primary-select-color: 43, 50, 51;
    --z-gray-color: 59, 63, 66;
    --z-fontcolor: 167, 177, 190;
    --z-primary-fontcolor: 167, 177, 190;
    --z-basic-input-color: 72, 82, 92;
    --z-basic-color: 34, 34, 34;
    --z-global-bg: 29, 34, 36;
    --z-common-bg: 40, 44, 47;
    --z-select-bg: 42, 46, 47;
    --z-menu-shadow: 4px 4px 6px 0 rgba(48, 48, 48, .1), -4px -4px 6px rgb(var(--z-common-bg));
}

