[class*="ouo-"] {
  --ouo-basic-font-color: var(--z-fontcolor) !important;
  --ouo-primary-font-color: var(--z-primary-fontcolor) !important;
  --ouo-primary-color: var(--z-primary-color) !important;
  --ouo-common-bg: var(--z-select-bg) !important;
  --ouo-basic-color: var(--z-common-bg) !important;
  --ouo-default-color: var(--z-common-bg) !important;
  --ouo-gray-bg: var(--z-gray-color) !important;
}

.ouo-input {
  max-height: 100px;
}
