@tailwind base;
@tailwind components;
@tailwind utilities;
@import "comon.css";
@import "config.css";
@import "ououi";
@import "sus";
@import "post";
@import "@ahzoo/sus/style.css";

@font-face {
  font-family: ss;
  src: url("../fonts/SmileySans-Oblique.ttf.woff2");
}

[data-theme="dark"] img,
[data-theme="dark"] i,
[data-theme="dark"] .bg-img {
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  -o-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
}

[data-theme="dark"] svg {
  filter: none !important;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #595284;
  background-image: -webkit-linear-gradient(
                  45deg,
                  rgba(255, 255, 255, .4) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .4) 50%,
                  rgba(255, 255, 255, .4) 75%,
                  transparent 75%,
                  transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: var(--btn-color);
  background-color: #595284;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

input {
  padding: 7px 12px !important;
  background-color: transparent;
  border: none;
  outline: none;
}

#main {
  min-height: calc(100vh - var(--z-header-height));
  max-width: 1300px;
  margin: 10px auto 0;
}

#ahzoo {
  --z-bg: linear-gradient(to top right, rgba(var(--z-primary-color)), rgba(var(--z-primary-color), .8), rgba(var(--z-primary-color), .5) 150%);
  background-color: rgba(var(--z-global-bg), .5);
}

.page {
  padding: var(--z-header-height) 35px 25px;

  &.mobile {
    padding: var(--z-header-height) 18px 25px;
  }
}

body {
  background-color: rgba(var(--z-global-bg));
}

.nuxt-icon:not(.small) {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0;
}

.normal-svg svg,
svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0;
}

.nuxt-icon.small, svg.small {
  width: 1rem;
  height: 1rem;
  padding: 2px;
}

/* Animation */
.waves-parallax > use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

img {
  display: block;
  margin: 0 auto 5px;
  max-width: 100%;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/*
样式
 */
.highlight, .link {
  color: rgb(var(--z-primary-color));
}

.box {
  background-color: rgb(var(--z-common-bg));
  border-radius: 0.75rem;
  padding: 1.25rem;
}

.box-header {
  margin-bottom: 15px;
}

.box-tip {
  font-size: 13px;
  top: 0;
  padding: 5px 10px;
  background: rgba(var(--z-basic-input-color), .4);
  border-radius: 0 0 6px 6px;
  position: absolute;
}

.timeline {
  position: relative;

  &::before {
    content: "";
    width: 6px;
    height: 150%;
    background: linear-gradient(180deg, #0000, rgba(var(--z-primary-color), .2), #0000) no-repeat center / 2px 100%, radial-gradient(circle, rgba(var(--z-primary-color), .5) 50%, #0000 50%) no-repeat center / 6px 6px;
    position: absolute;
    top: 0;
    left: -1rem;
    bottom: 0;
    margin: auto;
    transition: .5s;
  }
}

.tag-item {
  &:before {
    content: "#";
    opacity: .5;
    margin: 0 2px;
  }
}

.column-item {
  &-thumbnail {
    position: absolute;
    right: 0;
    top: 30%;
    opacity: 0.3;
    filter: blur(2px);
    transform: scale(1.0) rotate(15deg);
  }
}

.emoji {
  display: inline;
  margin: 0;
  width: 24px;
}

.item-hover {
  transition: all 0.3s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(var(--z-primary-select-color), 0.05);
  }
}
