[class*="sus-"] {
  --sus-basic-input-bg: var(--z-select-bg);
  --sus-primary-color: var(--z-primary-color);
  --sus-primary-font-color: var(--z-primary-fontcolor);
  --sus-font-color: var(--z-fontcolor);
  --sus-common-bg: var(--z-common-bg);
  --sus-primary-hover-color: var(--z-primary-select-color);
  --sus-primary-fontcolor: var(--z-primary-fontcolor);
  --sus-item-hover-bg: var(--z-select-bg);
}

.sus-top-item {
  &:hover {
    border-radius: 5px;
    background-color: rgba(var(--z-select-bg), .5);
    transition: all .25s;
  }
}

.vditor-panel {
  background-color: rgb(var(--z-common-bg));
}

.vditor-reset {
  color: rgb(var(--z-fontcolor));
}
