@import "@ahzoo/ouo/style.css";

[class*="ouo-"] {
  --ouo-basic-font-color: var(--z-fontcolor) !important;
  --ouo-primary-font-color: var(--z-btn-fontcolor) !important;
  --ouo-primary-color: var(--z-primary-color) !important;
  --ouo-common-bg: var(--z-plain-bg) !important;
  --ouo-basic-color: var(--z-common-bg) !important;
  --ouo-default-color: var(--z-common-bg) !important;
  --ouo-gray-bg: var(--z-gray-color) !important;
  --ouo-input-bg: var(--z-gray-color) !important;
  --ouo-tag-group-bg: var(--z-gray-color) !important;
}

.ouo-input {
  max-height: 100px;
}

.ouo-tag {
  &:hover {
    transform: scale(1.1);
  }
}
