@import "@ahzoo/sus/dist/style.css";

[class*="sus-"] {
  --sus-basic-input-bg: var(--z-plain-bg);
  --sus-primary-color: var(--z-primary-color);
  --sus-primary-fontcolor: var(--z-btn-fontcolor);
  --sus-font-color: var(--z-fontcolor);
  --sus-common-bg: var(--z-common-bg);
  --sus-primary-hover-color: var(--z-primary-select-color);
  --sus-item-hover-bg: var(--z-plain-bg);
  --sus-gray-bg: var(--z-gray-color);
  --sus-select-bg: var(--z-plain-bg);
  --sus-item-bg: var(--z-plain-bg);
  --sus-item-opacity: .1;
}

.sus-top-item {
  &:hover {
    border-radius: 5px;
    background-color: rgba(var(--z-regular-hover-bg), .5);
    transition: all .25s;
  }
}

.sus-top-item {
  max-height: 150px;
  overflow: hidden;

  img {
    max-height: 200px;
    width: auto;
  }
}

[view="mobile"] {
  --sus-item-margin: 20px;

  .sus-comment__info {
    flex-direction: column;
  }

  .sus-comment .sus-comment-avatar {
    display: none;
  }
}

.sus-avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sus-comment {
  .sus-input {
    height: 42px;
  }
}

.sus-comment__editor-wrapper {
  margin-top: 5px;
}
